#StateDiv
{
    padding-top:10px;
    padding-bottom:10px;
    margin-left:100px;
}

#newItemContainer{
    width:300px;
    border-radius:5px;
    border:1px solid black;
    padding:5px;
    float:left;
    margin-left:100px;
    margin-bottom:65px;
}
#newItemContainer div
{
    padding-left:20px;
}

#ExistingInventoryItem{
    width:300px;
    border-radius:5px;
    border:1px solid black;
    padding:5px;
    float:left;
    margin-left:100px;
}
#ExistingInventoryItem div
{
    padding-left:20px;
}

#MainContent_NewItemLabel
{
    padding-left:5px;
}
#ExistingItemLabel
{
    padding-left:5px;
}

.labelWidth
{
    width:64px; display:inline-block; padding-top:10px;
}
.QuantityLabel
{
    width:72px; display:inline-block; padding-top:6px;
}

.ReceiptButton
{
    padding-top:10px; padding-right:20px; text-align:right;
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.ReceiptFont
{
    font-family:'Courier New';
}

#Receipt
{
     font-family:'Courier New';
}

#Receipt table tr td
{
    text-align:center;
    padding-left:30px;
    margin: 0 auto;
}
#Receipt table tr td:first-child
{
    padding-left:30px;
    margin: 0 auto;
}
#Receipt table tr td:nth-child(3), td:last-child
{
    width:100px;
}

.RightSide
{
    margin:0 auto;
   text-align:right;
   padding-right:100px;
}
.RightSideTotals
{
    margin:0 auto;
   text-align:right;
   padding-right:50px;
}

@media only screen and (max-width: 796px) {
   #Receipt
   {
       margin:0 auto;
       width:100%;
   }
   #newItemContainer
   {
       margin:0 auto;
       width:100%;
        margin-bottom:10px;
   }
   #ExistingInventoryItem
   {
              margin:0 auto;
       width:100%;
   }
}